/* root class */
:root {
  --bg-default: #6c757d;
}
html {
  scroll-behavior: smooth;
}

body {
  min-width: 1100px;
  margin: 0 auto;
  font-family: "Ralewaya", sans-serif;
  font-weight: normal;

  font-size: 20px;
}

.link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.background-image {
  background-color: var(--bg-default);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

/* header start */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px 50px;
}

.header__list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 100%;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;

  max-width: 240px;

  font-family: "Ralewaya", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0%;
}

/* header end */

/* main start */

/* cover */
.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  color: white;

  background-image: url(./../images/cover.jpg);
}

.cover__title {
  position: relative;
  z-index: 1;
  margin-bottom: 106px;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;

  line-height: 1.3;
  letter-spacing: 30%;
  text-transform: uppercase;
}
.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 110%;
}
.bet-button {
  border: 1px solid #fff;

  padding: 12px 32px;
  color: white;
  background-color: transparent;
}

/* lots */
.lots {
  margin-bottom: 120px;
  padding: 0 24px;
}
.lots__heading {
  padding-bottom: 27px;

  padding-left: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;

  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
}
.card_type_film {
  background-image: url(./../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(./../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(./../images/card-lot-03.jpg);
}
.card__title {
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;

  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-transform: uppercase;
}
.card__text {
  line-height: 120%;
}

.lots__look-more-link {
  margin: 30px 40px;
  line-height: 100%;
}

/* about */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 27px;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 47px;
  border-radius: 50%;
  padding: 64px 47px;
  background-color: #000;
}

.about__logo-image {
  width: 100%;
  height: 100%;
}

.about__title {
  padding: 136px 0 100px 0;

  font-weight: 700;
  font-size: 40px;
  font-style: Bold;

  line-height: 100%;

  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 180px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;

  line-height: 24px;

  line-height: 24px;
  letter-spacing: 0%;
  letter-spacing: 0%;
}

/* main end */

/* footer start*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;

  padding: 0 50px 82px 50px;
}

.footer__address {
  justify-self: unset;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link-active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}
.footer__social-list-item {
  width: 48px;
  height: 48px;
}
.footer__social-link {
  width: 100%;
  height: 100%;
}
.footer__social-icon {
  width: 100%;
  height: 100%;
}

/* footer end */
/* ----------- перебить display -----------  */
.none {
  display: none;
}
